.Home {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 200, 211);
  
  }
  body{
    margin: 0%;
    padding: 0%;
  }
  .header-title{
    border: solid;
    border-color: antiquewhite;
    height: auto;
    color: rgb(255, 255, 255);
  }
  
  .sidebar{
    height: 100%;
    width: 250px;
    background-color: rgb(36, 5, 31);
    
  }
  .sidebarlist {
    width: auto;
    padding: 0%;
    height: 100%;
  }
  .sidebarlist .row{
    width: 100%;
    height: 70px;
    border: 1px solid black;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  .sidebarlist .row:hover{
   cursor: pointer;
   background-color: rgb(64, 144, 64);
  }
  .row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
  }
  
  .row #title{
    flex: 70%;
  }
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  .card:first-child {
    background-color: #2962ff;
  }
  
  .card:nth-child(2) {
    background-color: #fa8eca;
  }
  
  .card:nth-child(3) {
    background-color: #66ec6c;
  }
  
  .card:nth-child(4) {
    background-color: #fb5f5f;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner  .card_icon {
    font-size: 25px;
  }
  .link-no-highlight {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent */
  }
  